.bio {
	border-radius: 20px;
	border: 2px solid blue;
	width: 80%;
	margin: 20px auto;
	padding: 20px;
}

#aboutUsContent h2{
	text-align: center;
}

.bioImage {
	width: 50%;
	height: 30%;
	margin: 0 auto;
}

