#contactUs {
	width: 605px;
	height: 350px;
}
#mailLink:hover {
	opacity: 0.6;
}

#mailIcon {
	width: 40%;
	height: 40%;
}



@media screen and (max-width: 992px) {
	#contactUs {
		padding-top: 20px;
		width: 80%;
		height: auto;
	}

	.page-section {
		text-align: center;
	}
}
