#fieldbookLogo {
	width: 500px;
	height: auto;
	margin: 0 auto;
}
.fieldbookScreenshot {
	width: 250px;
	height: auto;
}
.iOSPageContent {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 50px;
}
.background1 {
	background-color: #D6D6DB;
}
#FieldBookHeader {
	padding-bottom: 20px;
}
#featuresHeader{
	text-align: center;
}
#featuresDescription {
	font-size: 20px;
}
#copyrightInfo{
	font-size: 10px;
}
#appStoreIcon{
	padding-bottom: 10px;
}

@media screen and (max-width: 990px) {
	p {
		text-align: center;
	}

	.fieldbookScreenshot {
		margin: 0 auto;
	}

}

@media screen and (max-width: 510px) {
	#fieldbookLogo {
		width: 300px;
	}

	p {
		font-size: 25px;
	}
}

@media screen and (max-width: 350px) {
	#fieldbookLogo {
		width: 250px;
	}
}