html, body {
	background-color: white;
	height: 100%;
	color: black;
}

#headerNav {
	background-color: black;
	border: none;
	color: white;
	font-size: 20px;
	float: none;

}

#navigationList {
	text-align: center;
	width: 100%;
}

#navigationList li{
	float: none;
	display: inline-block;
}
#navigationList li a {
	color: white;
}
#navigationList li a:hover {
	background-color: white;
	color: black;
}

	
#logo {
	text-align: center;
	background-color: black;
}

.dropdown-menu {
	background-color: black;
	font-size: 20px;
}

.dropdown-menu li a:hover {
	background-color: white;
	color: black !important;
}

.dropdown-toggle:active, 
.open .dropdown-toggle {
	background:#FFF !important; 
	color:#000 !important;
}


.footer {
	height: 50px;
	background-color: #D6D6DB;
}

.titleScrollText {
	min-height: 50%;
	font-size: 40px;
	text-align: center;
	border-style: solid;
	background-color: black;
	color: white;
}
.homeScrollText {
	min-height: 50%;
	font-size: 40px;
	text-align: center;
}

.homeFixedImage {
	min-height: 50%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

#homeImage1 {
	background-image: url('../media/digital.jpg');
}

#homeImage2 {
	background-image: url('../media/team.jpg');
}

/*iOS Applications*/
#fieldbookLogo {
	width: 350px;
	height: auto;
}

/*contactus*/
#contactUs {
	text-align: center;
}
#mailLink:hover {
	opacity: 0.6;
}

#mailIcon {
	width: 60%;
	height: 40%;
}

@media screen and (max-width: 767px) {
	#navigationList {
		text-align: left;
		float: left;
	}
	#navigationList li {
		position: relative;
		display: block;
	}

}
@media screen and (max-width: 660px) {
	#logoIcon {
		width: 400px;
		height: 100px;
	}
	#logo {
		text-align: left;
	}
}

@media screen and (max-width: 420px){
	#logoIcon {
		width: 300px;
		height: 75px;
	}
}