html, body {
	background-color: #484848;
	color: white;
	width: 100%;
}

html { 
	position: relative;

}

body {
	margin-bottom: 150px;
}

#headerNav {
	background-color: black;
	border-color: black;
}

#navigationLogo {
	padding-top: 20px;
	padding-left: 10%;
}
#navigationItems {
	padding-top: 100px;
}

#navigationItems ul li a {
	color: #A0A0A0 ;
	font-size: 17px;
}

#logo {
	width: 306px;
	height: 90px;
}

#fieldBookLogo {
	width: 334px;
	height: 334px;
}

.divider {
	width: 80%;
	box-shadow: 1px -1px 10px black;
	border-color: #A0A0A0;
}

.fieldbookScreenshot {
	width: 68px;
	height: 114px;
}



.textUnderline {
	text-decoration: underline;
}

.side-tab {
	background-color: #303030;
	height: 100%;
}

.home-text-medium {
	font-size: 20px;
}

.home-text-large {
	font-size: 70px;
}

.home-text-small {
	font-size: 12px;
	padding-top: 10px;
	padding-right: 50px;
}

.home-page-buttons {
	background-color: #303030;
	color: white;
	border-color: #303030;
	border-radius: 0;
	font-size: 13px;
}

.homepageImage {
	width: 300px;
	height: 160px;
}

.home-section2-header {
	color: #66CCFF;
	font-size: 25px;

}
#major-display-text {
	color: #F08307;
}


#appStoreIcon {
	padding-top: 40px;
	padding-bottom: 40px;
}

#footerRight {
	background-color: #303030;
	height: 150px;
}

#homepageSection2 {
	padding-bottom: 40px;
	
}

#homepageSubSection2 {
	padding-left: 20px;
}

.text-links {
	color: white;
}
.footer {
	height: 150px;
	background-color: black;
	position: absolute;
	width: 100%;
	bottom: 0;
}
.main-container {
	padding-bottom: 50px;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.footer-text-large {
	font-size: 45px;
}

.custom-dropdown {
	font-size: 18px !important;
}

.backdrop {
	background-color: #707070 ;
	margin-left: 70px;
	margin-right: 70px;
}
@media screen and (max-width: 1235px) {
	.footer-text-large {
		font-size: 35px;
	}
	#paypalButton {
		width: 75px;
		height: auto;
	}

	.homepageImage {
		width: 250px;
		height: 130px;
	}

	.home-section2-header {
		font-size: 20px;
	}
	.fieldbookScreenshot {
		width: 55px;
		height: auto;
	}
}
@media screen and (max-width: 992px) {
	.home-section {
		text-align: center;
	}
	.home-text-small {
		padding-right: 0;
	}

	.footer-section {
		padding-left: 0;
		padding-right: 0;
		margin-right: 0;
		margin-left: 0;
	}

	body {
		margin-bottom: 440px;
	}
	.footer {
		height: 440px;
	}
	.fieldbookScreenshot {
		display: none;
	}

	.divider {
		display: none;
	}

	#homepageSubSection2 {
		padding-left: 0;
	}
}
@media screen and (max-width: 767px) {
	#logo {
		width: 206px;
		height: 60px;
		margin: 0 auto;
	}
	#navigationItems {
		padding-top: 0;
	}
	#navigationLogo {
		padding-top: 0;
		padding-left: 0;
	}
	.navbar-brand{
		float: none;
	}
}

@media screen and (max-width: 367px) {
	.home-text-large {
		font-size: 60px;
	}

	#fieldBookLogo {
		width: 270px;
		height: 270px;
	}

}




