html, body {
	background-color: white;
	height: 100%;
	color: black;
}

#headerNav {
	background-color: black;
	border: none;
	color: white;
	font-size: 20px;
	float: none;

}

#navigationList {
	text-align: center;
	width: 100%;
}

#navigationList li{
	float: none;
	display: inline-block;
}
#navigationList li a {
	color: white;
}
#navigationList li a:hover {
	background-color: white;
	color: black;
}

	
#logo {
	text-align: center;
	background-color: black;
}

.dropdown-menu {
	background-color: black;
	font-size: 20px;
}

.dropdown-menu li a:hover {
	background-color: white;
	color: black !important;
}

.dropdown-toggle:active, 
.open .dropdown-toggle {
	background:#FFF !important; 
	color:#000 !important;
}

#pageContent{
	min-height: 100%;
	height: auto;
}

.footer {
	height: 50px;
	background-color: #D6D6DB;
}

#home1 {
	text-align: center;
	background-image: url("../media/digital.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 400px;
	color: black;
	font-size: 5em;
	opacity: 0.7;
}

#home2 {
	text-align: center;
	font-size: 2em;
}

#teamImg {
	max-height: 500px;
	margin: 0 auto;
}

#homeText {
	padding-left: 20px;
	padding-right: 20px;
}

/*iOS Applications*/
#fieldbookLogo {
	width: 350px;
	height: auto;
}

/*contactus*/
#contactUs {
	text-align: center;
}
#mailLink:hover {
	opacity: 0.6;
}

#mailIcon {
	width: 60%;
	height: 40%;
}

@media screen and (max-width: 767px) {
	#home1 {
		font-size: 4em;
	}
	#navigationList {
		text-align: left;
		float: left;
	}
	#navigationList li {
		position: relative;
		display: block;
	}

}
@media screen and (max-width: 660px) {
	#home1 {
		font-size: 3em;
	}
	#logoIcon {
		width: 400px;
		height: 100px;
	}
	#logo {
		text-align: left;
	}
}

@media screen and (max-width: 420px){
	#home1 {
		font-size: 2em;
	}
	#logoIcon {
		width: 300px;
		height: 75px;
	}
}