body {
    background-color:#333;
}


div#homepage{
    background-color:#333;
    color:white;
    text-align: center;
    
}

p#emailLink{
    font-size: 200px;
    text-align: center;
}

div#emailpage{
    color:white;
    text-align: center;
    
}
